# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dmytro
	email = portyanka.d@gmail.com
[core]
	editor = nvim
	pager = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
